.hero {
  background-color: $dark-fone;
  padding-top: 200px;
  padding-bottom: 190px;
}

// .overlay {
//   width: 1600px;
//   min-height: 600px;
//
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-image: linear-gradient($background-overley, $background-overley),
//     url(../img/mobail/hero-ing.gpg);

.overlay {
  width: 480px;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient($background-overley, $background-overley),
    url(../../img/mobail/Hero-img.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  + .overlay {
    background-image: url(../../img/mobail/Hero-img-@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../../img/tablet/Hero-img.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: url(../../img/tablet/Hero-img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: url(../../img/desktop/header.png);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: url(../../img/desktop/header@2x.png);
  }
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 30px;
}

.hero .button {
  margin: 0 auto;
}
