.list-bottons-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 73px;
  color: $white-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
  border: none;
  cursor: pointer;

  transition: background-color $transition;

  &:hover,
  &:focus {
    color: $title-tex-color;
    background-color: $background-color-section;
    box-shadow: none;
  }
}
